
* {
    font-family: 'Times New Roman', Times, serif;
}

.header,
.recipe-title {
    text-indent: 50px;
}

body {
    background-color: rgb(222, 184, 135, 0.5);
}

img.scale-recipe-img,
.teletubbie {
    width: 400px;
    height: auto;
    float: right;
}

.teletubbie {
    margin: auto 20%;
}

div .recipe-pages {
    font-size: 20px;
    line-height: 1.8;
    text-indent: 25px;
    width: 300px;
    list-style-type: none;

}


.dropdown {
    font-size: 20px;
    left: 10%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgb(222, 184, 135, 0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: auto 20px;
}

a:link {
    color: #00e;
}
 a:visited {
    color: #551a8b;
 }

a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
}