
* {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    text-align: center;
}

body {
    background-color: rgb(222, 184, 135, 0.5);
}

img.scale-recipe-img,
.teletubbie {
    width: 400px;
    height: auto;
    float: right;
}

.teletubbie {
    margin: auto 20%;
}

div .recipe-pages {
    font-size: 20px;
    line-height: 1.8;
    width: 200px;
    list-style-type: none;

}

h3 {
    text-indent: 30px;
}

div.description,
div.ingredients-box,
div.step-box {
    width: 500px;
    margin: auto;
    border: 2px solid red;
}

.dropdown {
    text-align: center;
    font-size: 20px;
    position: relative;
    margin: auto;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgb(222, 184, 135, 0.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

a:link {
    color: #00e;
}
 a:visited {
    color: #551a8b;
 }

a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: transparent;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.dropdown123 .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }